---
import type { CollectionEntry } from 'astro:content';
import Layout from './Layout.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { Image } from 'astro:assets';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout title={title} description={description}>
	<article>
		<div class="mb-8 text-center">
			{heroImage && (
				<div class="mb-6">
					<Image width={1020} height={510} src={heroImage} alt="" class="rounded-xl shadow-sm mx-auto" />
				</div>
			)}
			<div class="text-gray-500 dark:text-gray-400 text-sm mb-2">
				<FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div class="italic inline-block ml-2">
							(Updated: <FormattedDate date={updatedDate} />)
						</div>
					)
				}
			</div>
			<h1 class="text-3xl sm:text-4xl font-bold text-gray-900 dark:text-white leading-tight">{title}</h1>
			<hr class="border-gray-200 dark:border-gray-700 mt-8 w-24 mx-auto" />
		</div>
		<div class="markdown-content">
			<slot />
		</div>
	</article>
</Layout>
